body{
    background-color: black;
    margin 0;
    padding: 0;
  }
img{
  border: 10px solid gold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  widht: 100%;
}
div{
  width: 50%;
  margin-left: 25%;
}
h1{
  color: gold;
  text-align: center;
}
p{
  color: white;
  text-align: center;
  font-size: 2rem
}